DJANGO_SECRET_KEY=django-inseguro-apenas-desenvolvimento
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

API_KEY=trocar_esta_chave_em_ambiente_real
API_KEY_HEADER=X-API-Key

SIDECAR_PEDAGOGICO_URL=http://localhost:9004
SIDECAR_PEDAGOGICO_API_KEY=
SIDECAR_PEDAGOGICO_API_KEY_HEADER=X-API-Key

GATEWAY_TIMEOUT_SECONDS=10

ELASTIC_APM_SERVICE_NAME=NOVO-PEDAGOGICO-MS-TRANSITION-GATEWAY
ELASTIC_APM_SERVER_URL=server-url
ELASTIC_APM_SECRET_TOKEN=apm-server-secret-token
ELASTIC_APM_ENVIRONMENT=local
ELASTIC_APM_ENABLED=1

ENABLE_RABBITMQ_LOGGING=0
RABBITMQ_HOST=
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_LOG_QUEUE=
RABBITMQ_LOG_LEVEL=INFO
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
